.header{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
}

fieldset{
    padding: 20px
}

label{
    font-size:20px;
    margin-left: 20px;
}

input{
    margin-top: 25px;
    width: 60px;
    margin-left: 88px;
}

button{
    margin-left: 10px;
    background: #ffff;
    box-shadow: 2px 2px;
}